@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,700,100italic,300italic,400italic,700italic);
/*
Template Name: HR2 - Template
Version: 1.0
Author: HostingRed SAS
Author URL: http://hostingred.com
*/
/*************************
*******Typography******
**************************/
body {
  padding-top: 100px;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #64686d;
  line-height: 26px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: #272727;
}
a {
  color: #BE1414;
  -webkit-transition: color 400ms, background-color 400ms;
  -moz-transition: color 400ms, background-color 400ms;
  -o-transition: color 400ms, background-color 400ms;
  transition: color 400ms, background-color 400ms;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #A00303;
}
hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}
p{
  margin: 0;
}
.gradiant {
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}
.gradiant-horizontal {
  background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
}
.section-header {
  margin-bottom: 50px;
}
.section-header .section-title {
  font-size: 44px;
  color: #272727;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
  margin: 0 0 20px;
}
.section-header .section-title:before {
  content: "";
  position: absolute;
  width: 140px;
  bottom: 0;
  left: 50%;
  margin-left: -70px;
  height: 1px;
  background: #ebebeb;
}
.section-header .section-title:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -11px;
  left: 50%;
  margin-left: -12px;
  border: 5px solid #fff;
  border-radius: 20px;
  background: #BE1414;
}
.btn {
  border-width: 0;
  border-bottom-width: 3px;
  border-radius: 3px;
}
.btn.btn-primary {
  background: #BE1414;
  border-color: #A00303;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background: #A00303;
}
.column-title {
  margin-top: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  position: relative;
}
.column-title:after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 40%;
  border-bottom: 1px solid #BE1414;
}
ul.nostyle {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
ul.nostyle i {
  color: #BE1414;
}
.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}
@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
/*************************
*******Header******
**************************/
.navbar.navbar-default {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar.navbar-default .navbar-toggle {
  margin-top: 32px;
}
.navbar.navbar-default .navbar-brand {
  height: auto;
  padding: 22px 15px 21px;
}
#main-menu.navbar-default .navbar-nav > li.active > a, #main-menu.navbar-default .navbar-nav > li.open > a, #main-menu.navbar-default .navbar-nav > li:hover > a {
    background: transparent;
    padding-top: 37px;
    border-top: 3px solid #BE1414;
}
@media only screen and (min-width: 768px) {
  #main-menu.navbar-default {
    background: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  }
  #main-menu.navbar-default .navbar-nav > li > a {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #main-menu.navbar-default .navbar-nav > li.active > a,
  #main-menu.navbar-default .navbar-nav > li.open > a,
  #main-menu.navbar-default .navbar-nav > li:hover > a {
    background: transparent;
    padding-top: 37px;
    border-top: 3px solid #BE1414;
  }
  #main-menu.navbar-default .dropdown-menu {
    padding: 0 20px;
    min-width: 220px;
    background-color: rgba(26, 28, 40, 0.9);
    border: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-clip: inherit;
  }
  #main-menu.navbar-default .dropdown-menu > li {
    border-left: 3px solid transparent;
    margin-left: -20px;
    padding-left: 17px;
    -webit-transition: border-color 400ms;
    transition: border-color 400ms;
  }
  #main-menu.navbar-default .dropdown-menu > li > a {
    border-top: 1px solid #404455;
    padding: 15px 0;
    color: #eeeeee;
  }
  #main-menu.navbar-default .dropdown-menu > li:first-child > a {
    border-top: 0;
  }
  #main-menu.navbar-default .dropdown-menu > li.active,
  #main-menu.navbar-default .dropdown-menu > li.open,
  #main-menu.navbar-default .dropdown-menu > li:hover {
    border-left-color: #BE1414;
  }
  #main-menu.navbar-default .dropdown-menu > li.active > a,
  #main-menu.navbar-default .dropdown-menu > li.open > a,
  #main-menu.navbar-default .dropdown-menu > li:hover > a {
    color: #BE1414;
    background-color: transparent;
  }
}
#main-slider {
  overflow: hidden;
}
#main-slider .item {
  height: 558px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
#main-slider .slider-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}
#main-slider .slider-inner h2 {
  margin-top: 180px;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
}
#main-slider .slider-inner h2 > span {
  color: #BE1414;
}
#main-slider .slider-inner .btn {
  margin-top: 10px;
}
#main-slider .owl-prev,
#main-slider .owl-next {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 30px;
  display: inline-block;
  margin-top: -35px;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 100px;
  z-index: 5;
  -webkit-transition: background-color 400ms;
  transition: background-color 400ms;
}
#main-slider .owl-prev:hover,
#main-slider .owl-next:hover {
  background-color: #BE1414;
}
#main-slider .owl-prev {
  left: -35px;
  text-indent: 14px;
}
#main-slider .owl-next {
  right: -35px;
  text-indent: -14px;
}
#bar {
  width: 0%;
  max-width: 100%;
  height: 4px;
  background: #BE1414;
}
#progressBar {
  margin-top: -4px;
  position: relative;
  z-index: 999;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}
#cta {
  padding: 50px 0;
  background-color: #eeeeee;
}
#cta h2 {
  margin-top: 0;
}
#cta .btn {
  margin-top: 40px;
}
#cta2 {
  background: #242a33 url(../images/cta2/cta2-bg.jpg) no-repeat 50% 50%;
  background-size: cover;
  color: #fff;
  padding-top: 70px;
}
#cta2 .btn {
  margin-top: 10px;
}
#cta2 h2 {
  color: #fff;
  font-size: 44px;
  line-height: 1;
}
#cta2 h2 > span {
  color: #BE1414;
}
#features {
  padding: 100px 0;
}
#features .media.service-box:first-child {
  margin-top: 80px;
}
#services {
  padding: 100px 0 75px;
}
.media.service-box {
  margin: 25px 0;
}
.media.service-box .pull-left {
  margin-right: 20px;
}
.media.service-box .pull-left > i {
  font-size: 24px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  width: 64px;
  border-radius: 100%;
  color: #BE1414;
  box-shadow: inset 0 0 0 1px #d7d7d7;
  -webkit-box-shadow: inset 0 0 0 1px #d7d7d7;
  transition: background-color 400ms, background-color 400ms;
  position: relative;
}
.media.service-box .pull-left > i:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  right: -10px;
  border: 4px solid #fff;
  border-radius: 20px;
  background: #BE1414;
}
.media.service-box:hover .pull-left > i {
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  color: #fff;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.8);
}
#portfolio {
  padding: 100px 0;
  background: #f5f5f5;
}
#portfolio .portfolio-filter {
  list-style: none;
  padding: 0;
  margin: 0 0 50px;
  display: inline-block;
}
#portfolio .portfolio-filter > li {
  float: left;
  display: block;
}
#portfolio .portfolio-filter > li a {
  display: block;
  padding: 7px 15px;
  background: #e5e5e5;
  color: #64686d;
  position: relative;
}
#portfolio .portfolio-filter > li a:hover,
#portfolio .portfolio-filter > li a.active {
  background: #BE1414;
  color: #fff;
  box-shadow: 0 -3px 0 0 #ff2525 inset;
  -webkit-box-shadow: 0 -3px 0 0 #ff2525 inset;
}
#portfolio .portfolio-filter > li a.active:after {
  content: " ";
  position: absolute;
  bottom: -17px;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #ff2525 transparent transparent transparent;
}
#portfolio .portfolio-filter > li:first-child a {
  border-radius: 4px 0 0 4px;
}
#portfolio .portfolio-filter > li:last-child a {
  border-radius: 0 4px 4px 0;
}
#portfolio .portfolio-items {
  margin: -15px;
}
#portfolio .portfolio-item {
  width: 24.9%;
  float: left;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#portfolio .portfolio-item .portfolio-item-inner {
  position: relative;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info {
  opacity: 0;
  transition: opacity 400ms;
  -webkit-transition: opacity 400ms;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info h3 {
  font-size: 16px;
  line-height: 1;
  margin: 0;
  color: #fff;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info .preview {
  position: absolute;
  top: -18px;
  right: 12px;
  border-radius: 50%;
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  box-shadow: 0 0 0 2px #fff;
  -webkit-box-shadow: 0 0 0 2px #fff;
}
#portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
}
/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
#testimonial {
  background: #333333 url(../images/testimonial/bg.jpg) no-repeat 0 0;
  background-size: cover;
  padding: 100px 0;
  color: #fff;
}
#testimonial h4 {
  color: #fff;
  margin-bottom: 0;
}
#testimonial small {
  display: block;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.7);
}
#testimonial .btns {
  margin-top: 10px;
}
#about {
  padding: 100px 0;
}
#work-process {
  padding: 50px 0 50px;
  background: #20222e url(../images/work-process/bg.jpg) no-repeat 0 0;
  background-size: cover;
  color: #fff;
}
#work-process h2 {
  color: #fff;
}
#work-process h3 {
  color: #fff;
  margin-bottom: 0;
}
#work-process .icon-circle {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border: 2px solid #BE1414;
  border-radius: 100px;
  position: relative;
}
#work-process .icon-circle > span {
  border-style: solid;
  border-width: 2px;
  border-color: #BE1414;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  width: 24px;
  height: 24px;
  line-height: 20px;
  top: -12px;
  color: #64686d;
}
#work-process h3 {
  margin-bottom: 50px;
}
#meet-team {
  padding: 100px 0;
}
#meet-team .team-member {
  padding: 13px;
  background: #eeeeee;
  border: 2px solid #eeeeee;
  transition: border-color 400ms;
  -webkit-transition: border-color 400ms;
}
#meet-team .team-member .team-img {
  margin: -15px -15px 0 -15px;
}
#meet-team .team-member .team-info {
  padding-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 10px;
}
#meet-team .team-member:hover {
  border-color: #BE1414;
}
#meet-team .team-member:hover .social-icons > li > a {
  background: #BE1414;
}
#meet-team .social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}
#meet-team .social-icons > li {
  display: inline-block;
}
#meet-team .social-icons > li > a {
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  background: #222534;
  border-radius: 3px;
}
.divider {
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: -moz-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  background-image: -webkit-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  background-image: -ms-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  width: 95%;
  height: 1px;
}
.progress {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #eeeeee;
}
.progress .progress-bar.progress-bar-primary {
  background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.nav.main-tab {
  background: #eee;
  border-bottom: 3px solid #222534;
  border-radius: 3px 3px 0 0;
}
.nav.main-tab > li > a {
  color: #272727;
}
.nav.main-tab > li.active > a {
  background: #222534;
  color: #BE1414;
}
.nav.main-tab > li:first-child > a {
  border-radius: 3px 0 0 0;
}
.nav.main-tab > li:last-child > a {
  border-radius: 0 3px 0 0;
}
.tab-content {
  border: 1px solid #eee;
  border-top: 0;
  padding: 20px 20px 10px;
  border-radius: 0 0 3px 3px;
}
.panel-default {
  border-color: #eee;
}
.panel-default > .panel-heading {
  background-color: #fff;
  border-color: #eee;
}
.panel-default > .panel-heading .panel-title {
  font-size: 14px;
  font-weight: normal;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #eee;
}
#animated-number {
  padding: 100px 0 70px;
  background: #132125 url(../images/animated-number/bg.jpg) no-repeat 0 0;
  background-size: cover;
  color: #fff;
}
#animated-number h1,
#animated-number h2,
#animated-number h3,
#animated-number h4 {
  color: #fff;
}
#animated-number strong {
  display: block;
  margin-bottom: 30px;
}
.animated-number {
  display: inline-block;
  width: 140px;
  height: 140px;
  font-size: 24px;
  line-height: 140px;
  border: 3px solid #fff;
  border-radius: 100px;
  margin-bottom: 20px;
}
#pricing {
  padding: 100px 0 70px;
}
#pricing ul.pricing {
  list-style: none;
  padding: 0;
  margin: 70px 0 30px;
  border: 1px solid #eee;
  border-radius: 5px 5px 4px 4px;
  padding: 15px;
  text-align: center;
}
#pricing ul.pricing li {
  display: block;
  padding: 10px;
}
#pricing ul.pricing li.plan-header {
  background: #eee;
  border-radius: 4px 4px 0 0;
  margin: -15px -15px 10px;
  padding: 15px 15px 30px;
  border: 0;
}
#pricing ul.pricing li.plan-header .price-duration {
  position: relative;
  margin-top: -63px;
  top: -10px;
  display: inline-block;
  width: 116px;
  height: 116px;
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  color: #fff;
  border-radius: 100px;
  border: 5px solid #f6f6f6;
}
#pricing ul.pricing li.plan-header .price-duration > span {
  display: block;
  line-height: 1;
}
#pricing ul.pricing li.plan-header .price-duration > span.price {
  font-size: 24px;
  font-weight: 700;
  margin-top: 35px;
}
#pricing ul.pricing li.plan-header .price-duration > span.duration {
  margin-top: 5px;
}
#pricing ul.pricing li.plan-header .plan-name {
  margin-top: 10px;
  font-size: 24px;
  color: #272727;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}
#pricing ul.pricing.featured {
  background: #222534;
  color: #fff;
  border: 0;
}
#pricing ul.pricing.featured li.plan-header {
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}
#pricing ul.pricing.featured li.plan-header .plan-name {
  color: #fff;
}
#get-in-touch {
  padding: 100px 0 50px;
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  color: #fff;
}
#get-in-touch h1,
#get-in-touch h2 {
  color: #fff;
}
#blog {
  padding: 100px 0;
}
#blog .blog-post {
  border: 1px solid #eee;
  padding: 15px;
}
#blog .blog-post .post-format {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  background: #222534;
  border: 3px solid #fff;
  border-radius: 100px;
}
#blog .blog-post.blog-large .entry-thumbnail {
  margin: -15px -15px 15px;
  position: relative;
}
#blog .blog-post.blog-large .post-format {
  width: 66px;
  height: 66px;
  line-height: 60px;
  position: absolute;
  right: 20px;
  bottom: -33px;
}
#blog .blog-post.blog-large .post-format > i {
  font-size: 20px;
}
#blog .blog-post.blog-large .entry-date {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #BE1414;
}
#blog .blog-post.blog-large .entry-title {
  margin-top: 0;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 15px;
}
#blog .blog-post.blog-large .entry-title a {
  color: #64686d;
}
#blog .blog-post.blog-large .entry-title a:hover {
  color: #BE1414;
}
#blog .blog-post.blog-media {
  margin-bottom: 30px;
}
#blog .blog-post.blog-media .entry-thumbnail {
  margin: -15px 15px -15px -15px;
  position: relative;
}
#blog .blog-post.blog-media .post-format {
  position: absolute;
  top: 20px;
  right: -10px;
}
#blog .blog-post.blog-media .entry-date {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #BE1414;
}
#blog .blog-post.blog-media .entry-title {
  margin-top: 0;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 15px;
}
#blog .blog-post.blog-media .entry-title a {
  color: #64686d;
}
#blog .blog-post.blog-media .entry-title a:hover {
  color: #BE1414;
}
#blog .blog-post .entry-meta {
  margin-top: 20px;
  border-top: 1px solid #eee;
  padding-top: 15px;
}
#blog .blog-post .entry-meta > span {
  display: inline-block;
  margin-right: 10px;
  color: #999;
}
#blog .blog-post .entry-meta > span > a {
  color: #999;
}
#blog .blog-post .entry-meta > span > a:hover {
  color: #BE1414;
}
#contact {
  position: relative;
  overflow: hidden;
}
#contact .container-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(69, 174, 214, 0.3);
  z-index: 1;
}
#contact .contact-form {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin-top: 50px;
}
#contact .contact-form h3 {
  margin-top: 0;
}
/***********************
********* Footer ******
************************/
#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background: #2e2e2e;
}
#footer a {
  color: #fff;
}
#footer a:hover {
  color: #BE1414;
}
#footer ul {
  list-style: none;
  padding: 0;
  margin: 0 -7.5px;
}
#footer ul > li {
  display: inline-block;
  margin: 0 7.5px;
}
@media only screen and (min-width: 768px) {
  #footer .social-icons {
    float: right;
  }
}
.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.fadein { position:relative; height:332px; width:500px; }
.fadein img { position:absolute; left:0; top:0; }


#error {
  margin: 0 auto;
  display: block;
}

#HR{
  display: none;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease;
}

.overlay.visible {
  opacity: 1;
  visibility: visible;
}

.main-popup {
  position: fixed;
  left: 0;
  top: 30px;
  margin: 0;
  width: 100%;
  height: 540px;
  background-color: #e7e7f6;
  border-radius: 5px;
  z-index: 15;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: all .5s ease;
  /*overflow: hidden;*/
}

.main-popup.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(10px);
  transition: all .5s ease;
  z-index: 99999;
}

@media (min-width: 500px) {
  .main-popup {
    width: 500px;
    left: 50%;
    margin: 0 0 0 -250px;
  }
}

.popup-header {
  position: relative;
  padding: 0;
  margin: 0;
  height: 62px;
  width: 100%;
}

#popup-close-button a {
  position: absolute;
  right: 10px;
  top: -30px;
  width: 22px;
  height: 22px;
}

#popup-close-button a::before {
  content: '';
  position: absolute;
  right: 10px;
  top: 0;
  width: 3px;
  height: 25px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#popup-close-button a::after {
  content: '';
  position: absolute;
  right: 10px;
  top: 0;
  width: 3px;
  height: 25px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.popup-header ul {
  margin: 0;
  padding: 0;
}

.popup-header ul li {
  text-align: center;
  list-style: none;
  width: 50%;
  float: left;
}

.popup-header ul li a {
  display: block;
  padding: 20px 0;
  margin: 0;
  text-decoration: none;
  font-size: 1.2em;
}

#sign-in {
  background-color: #ceaee8;
  color: #fff;
  border-radius: 5px 0 0 0;
}

#sign-in.active {
  color: #ceaee8;
  background-color: transparent;
}

#register {
  background-color: #ceaee8;
  color: #fff;
  border-radius: 0 5px 0 0;
}

#register.active {
  color: #ceaee8;
  background-color: transparent;
}

.popup-content {
  height: 400px;
}

form.sign-in {
  position: relative;
  top: 40px;
  left: 0;
  font-size: 1em;
  opacity: 1;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}

form.sign-in.move-left {
  opacity: 0;
  transform: translateX(-450px);
}

form label {
  font-size: 1.1em;
  color: #ceaee8;
  margin-left: 23px;
}

form.sign-in input {
  border-radius: 5px;
  width: 90%;
  height: 40px;
  margin: 5px 5% 30px 5%;
  padding: 10px;
  font-size: 1em;
  color: #ceaee8;
  outline: none;
  border: none;
}

input#submit {
  background-color: #ceaee8;
  color: #fff;
  height: 50px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 25px;
  padding: 0;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  font-size: 1em;
  border: none;
}

form.register {
  position: relative;
  top: -280px;
  left: 0;
  font-size: 1em;
  opacity: 0;
  transform: translateX(450px);
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}

form.register.move-left {
  opacity: 1;
  transform: translateX(0);
}

form.register input {
  border-radius: 5px;
  width: 90%;
  height: 40px;
  margin: 5px 5% 15px 5%;
  padding: 10px;
  font-size: 1em;
  color: #ceaee8;
  outline: none;
  border: none;
}

p.check-mark {
  position: relative;
  left: 50%;
  width: 200px;
  margin: 0 0 0 -100px;
  padding: 0;
  text-align: center;
  color: #ceaee8;
  font-size: .8em;
}

p.check-mark a {
  color: #a48bb9;
}

p.check-mark input {
  border-radius: 0;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  font-size: 2em;
  color: #ceaee8;
  outline: none;
  border: none;
}

p.check-mark label {
  margin-left: 5px;
}

.field-signup-role{
  height: 0;
}

.login_page{
  background-color: seashell;
}

.login_content{
  max-width: 550px;
  width: 100%;
  margin: 50px auto;
}

.prof_set_img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prof_set_img img{
  width: 100%;
}

.prof_cont{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_right{
  max-width: 280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.messige_ul{
  display: flex;
}

.prof_set{
  max-width: 180px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.prof_set p i{
  vertical-align: 2px;
}

.prof_name{
  display: flex;
  align-items: center;
}

.prof-navbar-header{
  width: 75%;
}

.prof_set{
  cursor: pointer;
}
ul li{
  list-style: none;
}

.prof_ul{
  padding-left: 0;
  max-width: 170px;
  width: 100%;
  margin-bottom: 0!important;
}

.prof_ul_none{
  max-width: 135px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 5px;
  padding-left: 15px;
  min-height: 100px;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 15px;
  display: none;
  position: absolute;
  bottom: -105px;
  right: 0;
}

.pos{
  position: relative;
}

.prof_ul_none li{
  text-align: right;
}

.act{
  display: flex;
}

.profile_page_top{
  position: relative;
}

.profile_page_cover{
  width: 100%;
  max-height: 315px;
  overflow: hidden;
}

.profile_page_cover img{
  width: 100%;
  height: 100%;
}

.profile_page {
  margin-top: 55px;
}

.profile_img_block{
  width: 168px;
  height: 168px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.profile_img_block img{
  width: 100%;
  height: 100%;
}

.profile_img_ramk{
  width: 178px;
  height: 178px;
  border-radius: 50%;
  display: flex;
  border: 5px solid #ffffff;
  justify-content: center;
  align-items: center;
}

.prof_img{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  left: 25px;
  bottom: -25px;
}

.prof_name1 p{
  margin: 0 0 45px 45px;
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
}

.prof_img_up{
  display: none!important;
}

.label_up{
  position: absolute;
  bottom: 0;
  cursor: pointer;
  opacity: 0;
  transition: 0.2s;
  border: none;
  background: none;
}


.mod1{
    border: none;
    background: none;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 18px;
}

.label_up i{
  color: #ffffff;
}

.profile_img_block:hover .label_up{
  opacity: 1;
}

.prof_menu {
  height: 50px;
  box-shadow: 1px 2px 15px 0px rgba(0, 0, 0, 0.75);
}

.prof_menu_content{
  max-width: 900px;
  width: 100%;

}

.prof_menu{
  display: flex;
  justify-content: flex-end;
}

.prof_menu_content ul{
  display: flex;
  position: relative;
  align-items: center;
  z-index: 1;
}

.prof_menu_content ul li{
  padding: 12px 20px;
  height: 100%;
  border-right: 1px solid #dddddd;
  border-left: 1px solid  #dddddd;
  cursor: pointer;
}

.prof_info{
  margin-top: 15px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  display: none;
  padding: 0 5px;
  padding-left: 13px;
  box-shadow: -1px 2px 16px -4px rgba(0,0,0,0.75);
}

.default_page{
  display: flex;
  justify-content: space-between;
}

.default_page_content{
  background-color: #F2F3F5;
  width: 60%;
  margin-top: 15px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  padding: 15px 5px;
  box-shadow: -1px 2px 16px -4px rgba(0,0,0,0.75);
}

.default_page iframe{
  margin-top: 15px;
}

.prof_cont_active{
  display: block;
}

.block_title h3{
  margin: 0;
}

.block_title{
  border-bottom: 1px solid  #dddddd;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user_information ul li {
  color: #000000;
  padding: 5px 0;
}

.user_information ul li p{
  display: inline-block;
  width: 200px;
}

.user_information ul li span{
  color: #64686d;
}

.modal-dialog {
  z-index: 999999;
  background-color: #FFFFFF;
}

.prof-navbar-header img{
  width: 40%;
}

.prof_header .navbar.navbar-default .navbar-brand{
  padding: 5px;

}

.prof_home_page{
  padding-top: 10px!important;
}

.prof_header .navbar {
  border-bottom: 1px solid  #dddddd;
}

.edit_button i{
  cursor: pointer;
  font-size: 25px;
  transition: .3s;
}

.edit_button button:hover{
  color: #0f6674;
}

.edit_button button:hover .edit_button  span{
  text-decoration: underline;
}

.edit_button button{
  border: none;
  background: none;
  display: flex;
  align-items: center;
  outline: none;
}

.courses_box{
  max-width: 380px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #dddddd;
  border-radius: 10px;
  transition: .3s;
  margin-right: 8px;
}

.courses_box:hover{
  box-shadow: 0px 0px 14px 4px rgba(0,0,0,0.37);
}

.courses_info{
  line-height: 22px;
}

.courses_info span{
  color: #000;
}

.courses_blog_inner, .my_courses_inner{
  display: flex;
  padding: 15px 0;
}



.sms{
  padding: 100px 0;
  text-align: center;
  font-size: 22px;
  width: 100%;
}

.teacher_box{
  max-width: 150px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 8px;
  border: 2px solid #dddddd;
  transition: .3s;
}

.teacher_box:hover{
  border: 2px solid #999999;
}

.teacher_blog_content{
  display: flex;
  padding: 25px 0;
}

.teacher_img{
  width: 150px;
  max-height: 150px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.teacher_img img{
  width: 100%;
  height: 100%;
}

.teacher_info{
  width: 100%;
  text-align: center;
}
.teacher_info p a{
  font-size: 20px;

}

.teacher_info p{
  margin: 5px 0;
}

.prof_name i{
  margin-bottom: 5px;
  margin-left: 5px;
  display: inline-block;
}

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
.mfp-preloader a {
  color: #CCC; }
.mfp-preloader a:hover {
  color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
.mfp-close:hover,
.mfp-close:focus {
  opacity: 1; }
.mfp-close:active {
  top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
.mfp-arrow:active {
  margin-top: -54px; }
.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1; }
.mfp-arrow:before,
.mfp-arrow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent; }
.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px; }
.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px; }
.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px; }
.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }
.mfp-iframe-holder .mfp-close {
  top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444; }
.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px; }
.mfp-figure figure {
  margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }


/*======== -Modal-start- ==========*/

.padd-top{
    margin-top: 60px;
    text-align: center;
}
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(39, 45, 56, 0.7);
    overflow: auto;
    -webkit-transform: scaleY(0.01) scaleX(0);
    -ms-transform: scaleY(0.01) scaleX(0);
    transform: scaleY(0.01) scaleX(0);
    -webkit-animation: unfoldIn 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: unfoldIn 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    top: 0;
}

.modal.out {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-animation: unfoldOut 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: unfoldOut 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
@-webkit-keyframes unfoldIn {
    0% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
}

@keyframes unfoldIn {
    0% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
}

@-webkit-keyframes unfoldOut {
    0% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
}

@keyframes unfoldOut {
    0% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
}

.modal-content {
    padding: 35px 15px 30px 15px;
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    visibility: visible;
    -webkit-animation: zoomIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: zoomIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    background: none;
  box-shadow: none;
  border: none;
}

@-webkit-keyframes zoomIn {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes zoomIn {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.close{
    width: 15px;
    height: 16px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    right: 10px;
    top: 5px

}

.close::before {
    content: '';
    width: 15px;
    height: 1px;
    background-color: rgb(45, 45, 45);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.close::after {
    content: '';
    width: 15px;
    height: 1px;
    background-color: rgb(45, 45, 45);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-45deg);
    -ms-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg);
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.call-back-container {
    padding: 35px;
    position: relative;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    max-width: 645px;
    width: 100%;
    height: 348px;
    z-index: 999;
}
.modal-content-text{
    margin: 32px 0;
}
.modal-content-text p{
    font-size: 24px;
    font-family: Akrobat-Regular;
    color: rgb(0, 0, 0);
    line-height: 1.5;

}
.modal-content-title .static-title{
    line-height: 1;
}
.modal-content-but{
    text-align: center;
}
.modal-content-but button{
    border-radius: 5px;
    background-color: rgb(70, 128, 194);
    width: 238px;
    height: 56px;
}

.modal-content-but button a{
    font-size: 18px;
    font-family: Akrobat-Bold;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1;
    padding-left: 33px;
    position: relative;

}
.modal-content-but button a:before{
    content: "";
    background-image: url("assets/img/get-money-for/VK_Logo.png");
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;

}
/*======== -Modal-end- ==========*/

/*======== -ready-your-email-style-start- ==========*/
.ready-your-email{
  padding: 30px 0;
}
.ready-your-email-title h3{
  font-size: 30px;
  font-family: Akrobat-ExtraBold;
  color: rgb(40, 40, 40);
  line-height: 2.667;
}
.ready-your-email-info{
  min-height: 105px;
}
.ready-your-email-close{
  position: relative;
  width: 15px;
  height: 16px;
  cursor: pointer;
  z-index: 9999;
}
.ready-your-email-close::before {
  content: '';
  width: 15px;
  height: 1px;
  background-color: rgb(45, 45, 45);
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.ready-your-email-close::after {
  content: '';
  width: 15px;
  height: 1px;
  background-color: rgb(45, 45, 45);
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -ms-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.ready-your-email-info-input label p{
  font-size: 16px;
  font-family: Akrobat-Regular;
  color: rgb(99, 147, 210);
  line-height: 2;
}
.ready-your-email-info-input{
  max-width: 441px;
  width: 100%;
  margin-right: 12px;
}
.ready-your-email-info-input label{
  max-width: 100%;
  width: 100%;
}
.ready-your-email-info-input label input{
  border: 1px solid rgb(176, 189, 219);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  max-width: 100%;
  width: 100%;
  height: 62px;
  color: rgb(99, 147, 210);
  padding-left: 25px;
  font-size: 17px;
}
.ready-your-email-info .btn button{
  position: relative;
  padding-right: 17px;
}
.ready-your-email-info .btn button:after{
  content: "";
  background-image: url("assets/img/get-money-for/arrow19.png");
  background-repeat: no-repeat;
  position: absolute;
  right: 12px;
  top: 52%;
  transform: translateY(-52%);
  width: 18px;
  height: 12px;
}
.background-blue{
  background-color: var(--color-blue, rgb(52, 139, 239));
}
.get-a-gift{
  height: 64px;
  position: relative;
  margin-top: 30px;
}
.get-a-gift-min{
  position: relative;
}
.get-a-gift-min:before{
  content: "";
  background-image: url("assets/img/get-money-for/get-foe-img3.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: -41px;
  left: 0;
  width: 103px;
  height: 100px;
}
.get-a-gift-min-title{
  margin-left: 143px;
  margin-top: 14px;

}
.get-a-gift-min-title h3{
  font-size: 30px;
  font-family: Akrobat-ExtraBold;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.1;

}
/*======== -ready-your-email-style-end- ==========*/
.connect-your-min{
  padding: 60px 40px 60px 0;
  border-right: 1px solid rgb(222, 228, 238);
}
.connect-your-form{
  margin: 20px -15px 0;
}
.connect-your-min .static-title{
  line-height: 1;
}
.padding-connect-mfo{
  padding: 15px;
  width: 50%;
}

.connect-your-form-input:nth-child(2){
  margin-right: 0
}
.connect-your-form-input:nth-child(4){
  margin-right: 0
}
.connect-your-form-input label{
  width: 100%;
}
.connect-your-form-input label p{
  font-size: 16px;
  font-family: Akrobat-SemiBold;
  color: rgb(0, 0, 0);
  line-height: 1;
  margin-bottom: 15px;

}
.connect-your-form-input label input{
  border: 1px solid rgb(232, 232, 232);
  font-size: 16px;
  font-family: Akrobat-SemiBold;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 46px;
  padding-left: 15px;
}
.connect-form-textarea{
  margin: 0 -15px;
}
.connect-your-form-textarea label p{
  font-size: 16px;
  font-family: Akrobat-SemiBold;
  color: rgb(0, 0, 0);
  line-height: 1;
  margin-bottom: 15px;
}
.connect-your-form-textarea label textarea{
  font-size: 16px;
  font-family: Akrobat-SemiBold;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 139px;
  padding-left: 15px;
  padding-top: 15px;
  resize: none;
}
.connect-form-textarea .padding-connect-mfo{
  width: 100%;
}
.connect-your-form-send{
  margin-top: 10px;
}

.box-title-checkbox {
  position: relative;
}
.check {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 10px;
  width: 10px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid rgb(208, 208, 208);
  background-color: rgb(255, 255, 255);
}

.box-title-checkbox input:checked ~ .check {
  background-color: transparent;;
}
.box-title-checkbox input:checked ~ .check:after {
  display: block;
}
.box-title-checkbox input{display: none}
.check:after {
  content: "";
  position: absolute;
  display: none;
  left: 2px;
  top: 0px;
  width: 3px;
  height: 5px;
  border:  solid var(--color-red, #ff4e31);
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(43deg);
}
.box-title-checkbox label p{
  font-size: 14px;
  font-family: Akrobat-Regular;
  color: rgb(44, 44, 44);
  line-height: 2.714;
  cursor: pointer;
  padding-left: 18px;
}

.connect-your-form-send .btn *{
  width: 122px;
  height: 40px;
}
.how-to-connect-info{
  padding: 60px 0 40px 40px;
  max-width: 355px;
  width: 100%;
}

.how-to-connect-info .static-title {
  font-size: 28px;
  line-height: 1.286;
}
.how-to-connect-fill{
  counter-reset: section;
  margin-top: 21px;
}
.how-to-connect-fill ul li{
  padding-left: 20px;
  position: relative;
  font-size: 24px;
  font-family: Akrobat-SemiBold;
  color: rgb(44, 44, 44);
  font-weight: bold;
  line-height: 1.5;
  margin-top: 17px;

}
.how-to-connect-fill ul li:before{
  counter-increment: section;
  content: "" counter(section) ".";
  border-radius: 50%;
  color: var(--color-red, #ff4e31);
  position: absolute;
  top: 0;
  left: 0;
}
.how-to-connect-fill ul li:after{
  content: "";
  background-color:  var(--color-blue, rgb(52, 139, 239));
  opacity: 0.4;
  width: 1px;
  height: 20px;
  position: absolute;
  top: 35px;
  left: 4px;
}
.how-to-connect-fill ul li:last-child{
  font-size: 24px;
  font-family: Akrobat-Black;

}
.how-to-connect-fill ul li:last-child:after{
  content: none;
}
.how-to-connect-fill-img{
  width: 194px;
  height: 243px;
  margin-top: 20px;
}
/*======== -personal-area-style-start- ==========*/
.personal-area{
  padding: 50px 0;
}
.personal-area-min .reviews-min-text-hrefs{
  width: 100%;
}
.personal-area-min .reviews-min-text-hrefs ul li{
  width: 50%;
  text-align: center;
  font-size: 24px;
  font-family: Akrobat-Bold;
  color: rgb(221, 221, 221);
  font-weight: bold;
  line-height: 3.2;
  cursor: pointer;
  position: relative;
}
.personal-area-min .reviews-min-text-hrefs ul .active-href{
  color: var(--color-red, #ff4e31);
}
.personal-area-min .active-href:after{
  top: 76px;
  background-color: var(--color-blue, rgb(52, 139, 239));
}
.personal-area-ready-about-your{
  max-width: 550px;
  width: 100%;


}
.personal-inputs{
  margin: 0 -15px;
}
.padding-personal{
  width: 50%;
  padding: 15px;
}

.personal-area-ready-in-input label{
  display: block;
  width: 100%;
}
.personal-area-ready-in-input label p{
  font-size: 16px;
  font-family: Akrobat-Regular;
  color: rgb(44, 44, 44);
  line-height: 2.700;
}
.personal-area-ready-in-input label input{
  border: 1px solid rgb(222, 228, 238);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 43px;
  padding-left: 15px;
  font-family: Akrobat-ExtraBold;
  font-size: 16px;


}
.personal-area-ready-in-input label input::placeholder{
  font-size: 16px;
  font-family: Akrobat-ExtraBold;
  color: rgb(44, 44, 44);
  font-weight: bold;
  line-height: 5;

}
.personal-area-box-subscribe label p{
  font-size: 16px;
  font-family: Akrobat-ExtraBold;
  color: rgb(44, 44, 44);
  font-weight: bold;
  line-height: 2;

}
.personal-area-ready-info p{
  font-size: 16px;
  font-family: Akrobat-Regular;
  color: rgb(44, 44, 44);
  line-height: 2;

}
.personal-area-ready-info{
  margin-top: 27px;
}
.personal-area-box-subscribe + .personal-area-box-subscribe{
  margin-left: 20px;
}
.personal-area-ready-info .btn *{
  width: 101px;
  margin-top: 30px;
}
.personal-area-box-subscribe label {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;

}
.personal-area-box-subscribe label input {
  position: absolute;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  cursor: pointer;
  width: 0;
  height: 0;
  margin: 0
}

.checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 14px;
  height: 14px;
  border: 1px solid rgb(222, 228, 238);
  border-radius: 50%;
}
.personal-area-box-subscribe label:hover input ~ .checkmark {
  background-color: #ccc;
}
.personal-area-box-subscribe label input:checked ~ .checkmark{
  background-color: rgb(255,255,255);
  border: 1px solid var(--color-blue, rgb(52, 139, 239));
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.personal-area-box-subscribe label input:checked ~ .checkmark:after {
  display: block;
}
.personal-area-box-subscribe label .checkmark:after {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-red, #ff4e31);
}
.personal-area-box-subscribe label .personal-area-box-active-text{
  color: var(--color-blue, rgb(52, 139, 239));
}
.personal-area-ready-loan-history{
  width: 100%;
}
.personal-area-ready-loan-history table{
  overflow: hidden;
}
.personal-area-ready-loan-history table thead tr td{
  font-family: Akrobat-Regular;
  font-size: 16px;
  color: rgb(44, 44, 44);
  padding-top: 30px;
}
.personal-area-ready-loan-history table thead tr td:nth-child(1){
  width: 180px;
}
.personal-area-ready-loan-history table thead tr td:nth-child(2){
  width: 193px;
}
.personal-area-ready-loan-history table tbody tr{
  border-bottom: 1px solid rgb(239, 239, 239);
}
.personal-area-ready-loan-history table tbody tr td{
  font-family: Akrobat-ExtraBold;
  padding: 32px 0;
  font-size: 16px;
  color: rgb(44, 44, 44);
  font-weight: bold;
}
.loan-history-table-png i{
  margin-right: 7px;
  width: 19px;
  height: 19px;
}
.loan-history-table-png p{
  font-family: Akrobat-ExtraBold;
  font-size: 16px;
  font-weight: bold;
}
.personal-area-ready-loan-history table tbody tr:first-child .loan-history-table-png p{
  color: var(--color-blue, rgb(52, 139, 239));
}
.personal-area-ready-loan-history table tbody tr:nth-child(2) .loan-history-table-png p{
  color: rgb(47, 203, 91);
}
.personal-area-ready-loan-history table tbody tr:nth-child(3) .loan-history-table-png p{
  color: var(--color-red, #ff4e31);
}
/*======== -personal-area-style-end- ==========*/

/*==========- call-back-contact-modal-=============*/

.call-back-contact{
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 11px 40px 0px rgba(64, 64, 64, 0.5);
  max-width: 776px;
  width: 100%;
  min-height: 559px;
  padding: 20px 25px 30px 30px;
  position: relative;
}

.back-contact-min{
  margin: 0 -15px

}
.back-contact-min .padding-connect-mfo{
  width: 33.33%;
}
.back-contact-inputs:nth-child(4){
  margin-left: 0;
}
.call-back-contact .close{
  top: 16px;
  right: 16px;
}
.popap-modal-contact-info{
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 11px 40px 0px rgba(64, 64, 64, 0.5);
  max-width: 776px;
  width: 100%;
  min-height: 486px;
  padding: 15px;
  position: relative;
}
.modal-contact-nothing-found .static-title{
  font-size: 36px;
}
.modal-contact-min-img{
  max-width: 251px;
  width: 100%;
  height: 327px;
}
.modal-contact-nothing-found-text p{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: rgb(17, 31, 51);
  line-height: 1.5;
}
.popap-modal-contact-min{
  min-height: 480px;
}
.popap-modal-contact-min-block{
  max-width: 678px;
  width: 100%;
  padding: 0 30px;

}

.application-accepted-modal{
  max-width: 660px;
  width: 100%;
  padding: 0 10px;
}
.application-accepted-modal-img{
  max-width: 276px;
  width: 100%;
  height: 358px;
}
.application-accepted-modal .modal-contact-nothing-found-text p{
  margin-bottom: 0;
  max-width: 335px;
  width: 100%;
  line-height: 1.600;

}
.application-accepted-modal .static-title{
  margin-bottom: 20px;
}

/*==========- call-back-contact-modal-=============*/

/*==========- call-back-Thank-modal-=============*/

.popap-modal-thank-info{
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  max-width: 989px;
  width: 100%;
  min-height: 599px;
  padding: 30px;
  position: relative;

}
.popap-modal-thank-min-img{
  max-width: 348px;
  width: 100%;
  height: 471px;
}
.popap-modal-thank-information{
  max-width: 440px;
  width: 100%;
}
.popap-modal-thank-text p{
  font-size: 24px;
  font-family: Akrobat-Regular;
  color: rgb(0, 0, 0);
  line-height: 1.5;
}
.popap-modal-thank-box{
  background-color: #f0f6ff;
  max-width: 430px;
  width: 100%;
  min-height: 267px;
  border-radius: 50px;
  margin-top: 40px;
  position: relative;
  padding: 45px 40px;
}
.popap-modal-thank-box:before{
  content: "";
  position: absolute;
  left: -51px;
  top: 21px;
  background-color: #f0f6ff;
  -webkit-clip-path: polygon(2% 21%, 39% 86%, 40% 43%);
  clip-path: polygon(2% 21%, 39% 86%, 40% 43%);
  width: 130px;
  height: 133px;
}
.popap-modal-thank-block{
  width: 100%;
  padding: 0 30px;
}
.popap-modal-thank-box-title {
  font-size: 24px;
  font-family: Akrobat-Black;
  color: var(--color-red, #ff4e31);
  line-height: 1.5;

}
.popap-modal-thank-box-text{
  max-width: 260px;
  width: 100%;
  margin-bottom: 30px;
}
.popap-modal-thank-box-text p{
  font-size: 18px;
  font-family: Akrobat-Regular;
  color: rgb(0, 0, 0);
  line-height: 1.667;

}
.reating-modal-info {
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  max-width: 620px;
  width: 100%;
  padding: 30px;
  position: relative;
}
.reating-modal-info  .rating-about-mens-title h3{
  font-size: 30px;
  font-family: Akrobat-Black;
  color: rgb(0, 0, 0);
}
.reating-modal-info-input{
  margin-top: 35px;
}
.reating-modal-info-input label p{
  font-size: 16px;
  font-family: Akrobat-Regular;
  color: rgb(44, 44, 44);
  line-height: 2;
}
.reating-modal-info-input label input{
  border: 1px solid rgb(232, 237, 243);
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 38px;

}
.rating-about-mens-like-text{
  margin-top: 25px;
}
.rating-about-mens-like-text p {
  font-size: 16px;
  font-family: Akrobat-Regular;
  color: rgb(44, 44, 44);
  line-height: 2;
}
.rating-about-star ul li{
  width: 18px;
  height: 17px;
  margin-right: 8px;
}
.reating-modal-info-textarea{
  margin-top: 25px;
}
.reating-modal-info-textarea label p{
  font-size: 16px;
  font-family: Akrobat-Regular;
  color: rgb(44, 44, 44);
  line-height: 2;

}

.reating-modal-info-textarea label textarea{
  width: 100%;
  border: 1px solid rgb(232, 237, 243);
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  height: 184px;

}
.reating-modal-but{
  margin-top: 25px;
}
.reating-modal-but button{
  font-size: 12px;
  border-radius: 5px;
  width: 134px;
  height: 40px;
}
/*==========- call-back-Thank-modal-=============*/

/*==========- call-back-Thank-modal-=============*/
.popap-modal-thank-block {
  flex-direction: column-reverse;
}

.popap-modal-thank-box:before {
  display: none;
}

.popap-modal-thank-box:after {
  content: "";
  position: absolute;
  bottom: -91px;
  left: 50%;
  transform: translateX(-50%);
  width: 115px;
  height: 92px;
  background-color: #f0f6ff;
  -webkit-clip-path: polygon(50% 48%, 15% 0, 83% 0);
  clip-path: polygon(50% 48%, 15% 0, 83% 0);
}

.popap-modal-thank-min-img {
  height: 372px;
  margin-top: 60px;
}

/*==========- call-back-Thank-modal-=============*/
/*======== -personal-area-style-start- ==========*/
.personal-area-ready-loan-history {
  overflow-x: auto;
}

.personal-area-ready-loan-history table {
  width: 100%;
}
.personal-area-ready-loan-history table tr td{
  width: 25%;
}
/*======== -personal-area-style-start- ==========*/
/*======== -ready-your-email-style-end- ==========*/
.connect-your-min .static-title {
  font-size: 35px;
}

.connect-your-form-send {
  flex-direction: column;
}

.connect-your-form-input {
  margin-right: 0;
}
.padding-connect-mfo{
  width: 100%;
}
/*======== -ready-your-email-style-end- ==========*/

.navbar-brand img{
    width: 50%;
}

.checked_course{
  position: relative;
}

.checked_course:before{
  content: "Դուք արդեն ընտրել եք այս դասընթացը";
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px;
  transition: .3s;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 17px;
}

.checked_course:hover::before{
  background-color: rgba(0,0,0,.8);
  opacity: 1;
}

.modal-body{
  width: 100%;
}
label.control-label{
  margin-left: 0!important;
  color: #000000;
}

.modal-header{
  border-bottom: none!important;
}

.save_edit_button button{
  border: none;
  background: none;
  background-color: #1b3f5f;
  color: #FFFFFF;
  width: 100%;
  height: 50px;
}

.post_box{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 15px 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #FFFFFF;
}

.post_box span{
  display: inline-block;
  max-width: 78%;
}

#no{
  margin-bottom: 50px;
  text-align: right;
}

.default_page_content{
  max-width: 60%;
}

#posts-post_desc{
  resize: none;
}

#posts-post_desc::placeholder{

}

#no button{
  background-color: #0d3349;
  color: #FFFFFF;
  border: none;
  width: 120px;
  height: 30px;
}

.portfolio_form{
  max-width: 500px;
  width: 100%;
}

.portfolio_form .field-portfolio-portfolio_img label i{
  font-size: 50px;
  margin-right: 7px;
}

.field-portfolio-portfolio_img{
  width: 200px;
}

.portfolio_form .field-portfolio-portfolio_img label{
  display: flex;
  align-items: center;
}

.portfolio_add {
    font-size: 50px;
    cursor: pointer;

}
.portfolio_add {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dddddd;
  border-radius: 10px;
}

.portfolio_blog{
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#portfolio-portfolio_img{
  display: none;
}

.button_portfolio{
  text-align: right;
}

.button_portfolio button{
  background-color: #0d3349;
  color: #FFFFFF;
  border: none;
  width: 120px;
  height: 30px;
}

.work_box{
  max-width: 700px;
  width: 100%;
  padding: 10px 15px;
  background-color: #e0e0e0;
  margin-bottom: 20px;
  border-radius: 5px;
}

.work_box h3{
  margin: 0;
}

.work_img{
  max-width: 365px;
  width: 100%;
  height: 300px;
  margin: 10px auto 15px auto;
}

.work_img img{
  width: 100%;
  height: 100%;
}

.work_desc{
  text-align: center;
  line-height: 20px;
}

.work_category{
  font-size: 10px;
}

.admin_sms_exam{
  font-size: 10px;
  color: red;
  margin-top: -8px;
}

.ok{
  margin: 160px auto 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
  line-height: 32px;
  text-align: center;
}

.ok i {
  font-size: 75px;
  color: firebrick;
}

.popap-modal-contact-min-block{
  margin: 0 auto;
}

.verify i{
  color: green;
}

.notify{
  width: 30px;
  height: 30px;
  border-radius: 15%;
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  color: #000;
}

.messige_ul{
  margin: 0 15px 0 0!important;
}

.notifi_count{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  background-color: red;
  color: #FFFFFF;
  position: absolute;
  right: -2px;
  top: -2px;
  font-size: 11px;
}

.notifi_text{
  line-height: 15px;
  font-size: 12px;
  margin-bottom: 10px;
}

.notification_list{
  width: 290px;
  padding: 10px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.2);
  position: absolute;
  transform: translate(-150px,10px);
  display: none;
}

.str_li{
  position: relative;
}

.noti_list{
  padding-bottom: 10px;
  padding-top: 5px;
  border-bottom: 1px solid #dddddd;
}

.show_noty{
  display: block;
}

.reg_button{
  text-align: center;
}

#w0{
  padding: 0 10px;
}

.field-signup-role label{
  display: none;
}

.team-img{
    width: 240px;
    height: 240px;
    overflow: hidden;
  display: inline-block;
}

.team-member{
  text-align: center;
}

.team-img img{
  width: 100%;
  height: 100%;
}

#notification-notifi{
  resize: none;
  height: 35px;
  padding: 9px 4px;
}

#notification-notifi:valid{
  font-size: 12px;
}

#notification-notifi::placeholder{
  font-size: 12px;

}

.field-notification-notifi label{
  display: none;
}

.notifi_button{
  background-color: #0d3349;
  color: #FFFFFF;
  border: none;
  width: 133px;
  height: 30px;
}

.question_text{
  margin-bottom: 0;
}

.answers{
  margin-left: 15px;
}

.test_blog{
  height: 600px;
  overflow-y: scroll;
}

.test_answer {
  float: right;
  margin: 10px 15px;
  background-color: #0d3349;
  color: #FFFFFF;
  border: none;
  width: 120px;
  height: 30px;
}

.test_blog::-webkit-scrollbar {
  position: absolute;
  right: 10px;
  width: 10px;
  height: 7px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: rgba(13, 51, 73, 0.1)
}

.test_blog::-webkit-scrollbar-thumb {
  background-color: #0d3349;
  width: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.answers input{
  margin-right: 7px;
}

.course_blog_img{
  float: left;
}

.course_name{
  font-weight: bold;
  padding-top: 10px;
}

.course_desc{
  font-size: 13px!important;
  margin-top: 5px;
}

.desc_long{
  margin-top: 40px;
  text-align: center;
  margin-bottom: 30px;
}

.course_title{
  clear: both;
  text-align: center;
}

.course_dur{
  font-size: 14px;
}

.teachers_list .not_teacher{
  font-size: 12px;
  color: red;
  margin-top: 25px;
  text-align: center;
  display: block;
}

.teachers_list{
  display: inline-block;
  margin-right: 25px;
}

.check_course_button_block{
  display: inline-block;

}

#check_teacher{
  border-color: #0d3349;
  border-radius: 5px;
  outline: none;
}

#check_course_button{
  background-color: #0d3349;
  color: #FFFFFF;
  border: none;
  width: 120px;
  height: 30px;
}

.update_img{
  background-color: #0d3349;
  color: #FFFFFF;
  border: none;
  width: 120px;
  height: 30px;
}

.my_img_up button.modal_clos{
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background: no-repeat;
  font-size: 25px;
}

.my_img_up .modal-header{
  padding: 0;
  font-size: 20px;
}

.field-uploadimage-prof_img i {
  font-size: 50px;
  margin-right: 5px;
  vertical-align: -25%;
}

.field-uploadimage-prof_img input
{
  display: none;
}

.my_img_up #w0{
  text-align: center;
}

.service-box{
  display: flex;
  align-items: center;
}

.count_us{
  font-size: 25px;
  font-weight: bold;
}

.section_title h3{
  text-transform: uppercase;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.messige_ul li{
  display: inline-block;
}

.messige_ul .messige_link{
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 15%;
  margin-right: 5px;
}

